[Desktop Entry]
Version=1.0
Type=Application
Name=Install Quokka OS
Name[ja]=Quokka OS をインストール
Comment=Launch the Debian live installer
Comment[ja]=Debian Live Installer を起動します
Exec=debian-installer-launcher
Icon=system-installer
Terminal=false
Categories=System;Settings;
StartupNotify=true
