[Desktop Entry]
Version=1.0
Type=Application
Name=Quokka Welcome
Name[ja]=Quokka Welcome(ようこそ)
Comment=Show the Quokka OS welcome tour
Comment[ja]=Quokka OSのウェルカムツアーを表示します
Exec=quokka-welcome
Icon=/usr/share/icons/quokka/logo.png
Terminal=false
Categories=System;Settings;
StartupNotify=false
